<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <center>
    <h1 style="color:red">If-Elif-Else block </h1>

    {% if a > b and a > c %}
        <h1>a is maximum</h1>
        <h1>This is inside If block</h1>
    {% elif b > c %}
        <h1>b is maximum</h1>
        <h1>This is inside Elif block</h1>
    {% else %}
        <h1>C is maximum</h1>
        <h1>This is inside the Else Block</h1>
    {% endif %}
   </center>
</body>
</html>