<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <center>
    <h1 style="color: yellow;">If-Else block </h1>

    {% if m > n %}
        <h1>m is maximum</h1>
        <h1>This is inside If block</h1>
    {% else %}
        <h1>n is maximum</h1>
        <h1>This is inside Else block</h1>
    {% endif %}
   </center>
</body>
</html>